com2sec myUser 89.221.178.92/32 V@nBo3!3n

group    myGroup    v1        myUser
group    myGroup    v2c        myUser
view all included .1
access myGroup    ""    any    noauth     exact    all    all    none
sysLocation    Papendorp
sysContact     Techsupport <techupport@ram.nl>
